<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/navigation.ejs') %>
<body>
    <h2>Login</h2>
    <% if (error) { %><p style="color: red;"><%= error %></p><% } %>
    <form action="/admin/login" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <%- include('../partials/footer.ejs') %>
</html>
