<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nyandungu Visits</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
   
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="js/main.js"></script>
</head>

<%- include('partials/navigation.ejs') %>

<div class="container my-5">
    <div class="text-center mb-4">
        <h2>Book Your Visit</h2>
        <p>Plan your visit to the beautiful Nyandungu Eco-Park</p>
    </div>

    <form class="booking-form">
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" id="name" class="form-control" placeholder="Enter your full name" required>
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" class="form-control" placeholder="Enter your email" required>
        </div>

        <div 
            class="form-group">
            <label for="visit-date">Visit Date</label>
            <input type="text" id="visit-date" class="form-control date" placeholder="Select your visit date" required>
        </div>


        <div class="form-group">
            <label for="ticket-type">Ticket Type</label>
            <select id="ticket-type" class="form-control">
                <option value="standard">Standard Ticket</option>
                <option value="student">Student Ticket</option>
                <option value="senior">VIP Ticket</option>
            </select>
        </div>

        <div class="col-md-3">
            <div class="mb-3 mb-md-0">
                <select class="custom-select px-4" style="height: 47px;">
                    <option selected>Time Slots</option>
                    <option value="1">9AM-12PM</option>
                    <option value="2">12PM-3PM</option>
                    <option value="3">3PM-6PM</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary py-3 px-4 mt-3">Book Now</button>
    </form>
</div>


</body>

<%- include('partials/footer.ejs') %>



  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/tempusdominus/js/moment.min.js"></script>
  <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Contact Javascript File -->
  <script src="mail/jqBootstrapValidation.min.js"></script>
  <script src="mail/contact.js"></script>

  <!-- Template Javascript -->
  <script src="js/main.js"></script>
</body>

</html>
