<!DOCTYPE html>
<html lang="en">

<%- include('partials/navigation') %>

<div class="container-fluid py-5">
  <div class="container pt-5 pb-3">
    <div class="text-center mb-3 pb-3">
      <h6 class="text-primary text-uppercase" style="letter-spacing: 5px">
        Events
      </h6>
      <h1>Upcoming Events</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="package-item bg-white mb-2">
          <img
            class="img-fluid"
            src="https://365rwanda.bizops.africa/wp-content/uploads/sites/130/2024/10/30.png"
            alt=""
          />
          <div class="p-4">
            <div class="d-flex justify-content-between mb-3">
              <small class="m-0"
                ><i class="fa fa-map-marker-alt text-primary mr-2"></i>Pond
                Muhazi</small
              >

              <small class="m-0"
                ><i class="fa fa-calendar-alt text-primary mr-2"></i>Date:23
                December 2024, 04:00 PM(CAT)</small
              >
            </div>
            <a class="h5 text-decoration-none" href=""
              >Experience Outdoor Yoga with Nature</a
            >
            <div class="border-top mt-4 pt-4">
              <div class="d-flex justify-content-between"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="package-item bg-white mb-2">
          <img
            class="img-fluid"
            src="https://media.istockphoto.com/id/1096109144/photo/brunch.jpg?s=612x612&w=0&k=20&c=OtFhQDMdylntsdWTmpW_pK0a_hO-zsmFy7trFuAOTos="
            alt=""
          />
          <div class="p-4">
            <div class="d-flex justify-content-between mb-3">
              <small class="m-0"
                ><i class="fa fa-map-marker-alt text-primary mr-2"></i>Fusion
                Restaurant</small
              >
              <small class="m-0"
                ><i class="fa fa-calendar-alt text-primary mr-2"></i>Date: 27
                December 2024, 03:00 PM(CAT)</small
              >
            </div>
            <a class="h5 text-decoration-none" href="">Saturday Brunch</a>
            <div class="border-top mt-4 pt-4">
              <div class="d-flex justify-content-between"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="package-item bg-white mb-2">
          <img
            class="img-fluid"
            src="https://www.rwandawildlifesafari.com/wp-content/uploads/2023/06/image-873x450.webp"
            alt=""
          />
          <div class="p-4">
            <div class="d-flex justify-content-between mb-3">
              <small class="m-0"
                ><i class="fa fa-map-marker-alt text-primary mr-2"></i>Repub
                Lounge</small
              >
              <small class="m-0"
                ><i class="fa fa-calendar-alt text-primary mr-2"></i>Date: 12
                January 2025, 05:00 PM(CAT)</small
              >
            </div>
            <a class="h5 text-decoration-none" href="">Twaza Cultural event</a>
            <div class="border-top mt-4 pt-4">
              <div class="d-flex justify-content-between"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="package-item bg-white mb-2">
          <img
            class="img-fluid"
            src="https://www.rema.gov.rw/fileadmin/user_upload/20220319_124313.jpg"
            alt=""
          />
          <div class="p-4">
            <div class="d-flex justify-content-between mb-3">
              <small class="m-0"
                ><i class="fa fa-map-marker-alt text-primary mr-2"></i>Nyandungu
                Eco-Park Ground</small
              >
              <small class="m-0"
                ><i class="fa fa-calendar-alt text-primary mr-2"></i>Date: 05
                February 2024, 08:00 AM(CAT)</small
              >
            </div>
            <a class="h5 text-decoration-none" href=""
              >Environmental Education Workshop</a
            >
            <div class="border-top mt-4 pt-4">
              <div class="d-flex justify-content-between"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="package-item bg-white mb-2">
          <img
            class="img-fluid"
            src="https://framptoncotterell-pc.gov.uk/wp-content/uploads/2023/11/local-nature-art-exhibition-gallery-and-comp-winners-1024x536.png"
            alt=""
          />
          <div class="p-4">
            <div class="d-flex justify-content-between mb-3">
              <small class="m-0"
                ><i class="fa fa-map-marker-alt text-primary mr-2"></i
                >Masterpiece Mall</small
              >
              <small class="m-0"
                ><i class="fa fa-calendar-alt text-primary mr-2"></i>Date: 25
                February 2025, 09:00 AM(CAT)</small
              >
            </div>
            <a class="h5 text-decoration-none" href=""
              >Art and Photography Exhibition Event</a
            >
            <div class="border-top mt-4 pt-4">
              <div class="d-flex justify-content-between"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="package-item bg-white mb-2">
          <img
            class="img-fluid"
            src="https://c8.alamy.com/comp/2RRRGPB/230528-kigali-may-28-2023-rwandan-president-paul-kagame-participates-in-a-tree-planting-exercise-in-nyandungu-eco-park-in-kigali-rwanda-may-27-2023-rwandan-president-paul-kagame-accompanied-by-the-first-lady-jeannette-kagame-joined-officials-from-the-basketball-africa-league-bal-as-well-as-government-officials-on-saturday-to-participate-in-a-tree-planting-exercise-in-nyandungu-eco-park-this-activity-was-part-of-the-monthly-community-work-known-as-umuganda-photo-by-xinhua-rwanda-kigali-rwandan-president-tree-planting-cyrilxndegeya-publicationxnotxinxchn-2RRRGPB.jpg"
            alt=""
          />
          <div class="p-4">
            <div class="d-flex justify-content-between mb-3">
              <small class="m-0"
                ><i class="fa fa-map-marker-alt text-primary mr-2"></i>Nyandungu
                Eco-Park Ground</small
              >
              <small class="m-0"
                ><i class="fa fa-calendar-alt text-primary mr-2"></i>Date: 30
                March 2025, 09:00 AM(CAT)</small
              >
            </div>
            <a class="h5 text-decoration-none" href=""
              >Tree-Planting and Conservation Day</a
            >
            <div class="border-top mt-4 pt-4">
              <div class="d-flex justify-content-between"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
<!-- Footer Start -->
<%- include('partials/footer') %>
<!-- Footer End -->
</html>
