<!DOCTYPE html>
<html lang="en">

<%- include('partials/navigation.ejs') %>
  <!-- Service Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Our Services</h6>
                <h1>Nyandungu Eco-Park Services</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                        <h5 class="mb-2">Guided Tours</h5>
                        <p class="m-0">Visitors can explore the park through guided tours, which highlight the diverse plant species and beautiful wetlands.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                        <h5 class="mb-2">Ticket Booking</h5>
                        <p class="m-0">Nyandungu Eco-Park supports online booking through this website, allowing visitors to plan visits and organize tours ahead of time.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                        <h5 class="mb-2">Recreational and Picnic Areas</h5>
                        <p class="m-0">The park includes serene picnic areas and open spaces where families and groups can relax, enjoy nature, and have gatherings.</p>
                    </div>
                </div>
                
    <!-- Service End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h6>
                <h1>What Visitors Say</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="text-center pb-4">
                    <img class="img-fluid mx-auto" src="img/testimonial-1.jpg" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">"Very peaceful Eco park, lots of walking lanes well designed.
                            The place gives you a nature feel while living in the city.
                            There are coffee shops and nice seating areas "
                        </p>
                        <h5 class="text-truncate">Lesly Uwase</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="img/testimonial-2.jpg" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">"You don't want to miss this place if you're in Kigali, it's fantastic! it's a peaceful place where you can spot rare birds while riding a bike."
                        </p>
                        <h5 class="text-truncate">Mike Karangwa</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="img/testimonial-3.jpg" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">"A great new initiative for the city of Kigali. It is a peaceful place to spend some time amongst nature. I recommend coming towards the end if the afternoon."
                        </p>
                        <h5 class="text-truncate">Bella Mutesi</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="img/testimonial-4.jpg" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Very nice and peaceful nature area in Kigali. Lots of nice refreshment areas to sit and relax. There is also a restaurant and café serving good coffee, sandwiches and sweet fruit smoothies.
                        </p>
                        <h5 class="text-truncate">David Mugisha</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    
    <!-- Footer Start -->
    <%- include('partials/footer') %>
    <!-- Footer End -->
</html>